*{
    background-color: #E5E5E5;
    /*font-family: "Amiko";*/
    font-family: Tahoma, sans-serif;
}


#NavBar{
    /* Tab Bg */

    position: absolute;
    width: 100%;
    height: 117px;
    left: 0px;
    top: 0px;
    font-size: 4.9vw;
    background: #D0A71B;
    box-shadow: 0px 27px 30px rgba(0, 0, 0, 0.25);
}

#navTabHome {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 85px;
    color: #5D1B1C;
    position: absolute;
    width: 30%;
    height: 89px;
    left: 1%;
    top: 28px;
    background: #FECE00;
    border-radius: 20px 20px 0px 0px;
}

#navTabOnHome {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 85px;
    color: #FECE00;
    position: absolute;
    width: 30%;
    height: 89px;
    left: 1%;
    top: 28px;
    background: #5D1B1C;
    border-radius: 20px 20px 0px 0px;
}

#navTabOnList {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 85px;
    color: #FECE00;
    position: absolute;
    width: 30%;
    height: 89px;
    left: 35%;
    top: 28px;
    background: #5D1B1C;
    border-radius: 20px 20px 0px 0px;
}

#navTabList {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 85px;
    color: #5D1B1C;
    position: absolute;
    width: 30%;
    height: 89px;
    left: 35%;
    top: 28px;
    background: #FECE00;
    border-radius: 20px 20px 0px 0px;
}

#navTabLeaderboard {
    text-align: center;
    font-weight: 400;
    line-height: 85px;
    color: #5D1B1C;
    position: absolute;
    width: 30%;
    height: 89px;
    left: 69%;
    top: 28px;
    background: #FECE00;
    border-radius: 20px 20px 0px 0px;
}

#navTabOnLeaderboard {
    text-align: center;
    font-weight: 400;
    line-height: 85px;
    color: #FECE00;
    position: absolute;
    width: 30%;
    height: 89px;
    left: 69%;
    top: 28px;
    background: #5D1B1C;
    border-radius: 20px 20px 0px 0px;
}

#levelSlots {
    width: 97%;
    height: 530px;
    margin-left: 2%;
    background: #FFFFFF;
    box-shadow: -15px 15px 0px rgb(0 0 0 / 25%);
    border-radius: 22px;
}

#thumbnail {
    position: relative;
    width: 27%;
    height: 31%;
    top: 3%;
    left: 1%;
    border-radius: 20px;
}

#titleText {
    position: relative;
    top: -26%;
    height: 21%;
    left: 30%;
    font-weight: 100;
    font-size: 2vw;
    letter-spacing: 0.05em;
    color: #5D1B1C;
    background: none;
    width: 64%;
}

#flag {
    background: black;
    width: 11%;
    height: 11%;
    border-radius: 8px;
    position: relative;
    top: -49%;
    left: 87%;
}

#discription {
    width: 65%;
    height: 25%;
    left: 31%;
    top: -46%;
    background: #FEF3D3;
    border-radius: 20px;
    position: relative;
    text-align: left;
    font-weight: 300;
    font-size: 2vw;
    line-height: 43px;
    color: #5D1B1C;
}

#levelInfo {
    position: relative;
    width: 29%;
    height: 34%;
    left: 1%;
    top: -44%;
    background: #FEF3D3;
    border-radius: 20px;
    font-size: 2vw;
    color: #5D1B1C;
    white-space: nowrap;
}

#creatorPFP {
    position: relative;
    max-width: 6%;
    max-height: 12%;
    left: 22.5%;
    top: -57%;
    background: #C4C4C4;
    border-radius: 50%;
    background-size: cover;
}

#creditsTab {
    position: relative;
    width: 0px;
    height: 72px;
    left: 10%;
    top: -63%;
    font-weight: 400;
    font-size: 2vw;
    line-height: 27px;
    text-align: center;
    color: #7E7D75;
    background: none;
    text-align: center;
    white-space: nowrap;
}

#courseDescription {
    position: relative;
    width: 0px;
    left: 55%;
    top: -116%;
    font-weight: 400;
    font-size: 2vw;
    line-height: 27px;
    color: #7E7D75;
    background: none;
    text-align: center;
    white-space: nowrap;
}

#dataTable {
    position: relative;
    width: 30%;
    height: 35%;
    left: 36%;
    top: -110%;
    background: #FEF3D3;
    border-radius: 20px;
    font-size: 2vw;
    line-height: 17px;
    color: #5D1B1C;
    text-align: center;
}

#dataTab {
    position: relative;
    width: 0px;
    left: 47%;
    top: -118.8%;
    font-weight: 400;
    color: #7E7D75;
    background: none;
    text-align: center;
    white-space: nowrap;
    font-size: 2vw;
}

#IDandDate {
    position: relative;
    background: none;
    left: 69%;
    top: -147.8%;
    font-size: 2vw;
    line-height: 16px;
    color: #5D1B1C;
    width: 0%;
    white-space: nowrap;
}
