*{
    background-color: #E5E5E5;
    /*font-family: "Amiko";*/
    font-family: Tahoma, sans-serif;
}


#NavBar{
    /* Tab Bg */

    position: absolute;
    width: 100%;
    height: 117px;
    left: 0px;
    top: 0px;

    background: #D0A71B;
    box-shadow: 0px 27px 30px rgba(0, 0, 0, 0.25);
}

#navTabHome {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 85px;
    color: #5D1B1C;
    position: absolute;
    width: 30%;
    height: 89px;
    left: 1%;
    top: 28px;
    background: #FECE00;
    border-radius: 20px 20px 0px 0px;
}

#navTabOnHome {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 85px;
    color: #FECE00;
    position: absolute;
    width: 30%;
    height: 89px;
    left: 1%;
    top: 28px;
    background: #5D1B1C;
    border-radius: 20px 20px 0px 0px;
}

#navTabOnList {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 85px;
    color: #FECE00;
    position: absolute;
    width: 30%;
    height: 89px;
    left: 35%;
    top: 28px;
    background: #5D1B1C;
    border-radius: 20px 20px 0px 0px;
}

#navTabList {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 85px;
    color: #5D1B1C;
    position: absolute;
    width: 30%;
    height: 89px;
    left: 35%;
    top: 28px;
    background: #FECE00;
    border-radius: 20px 20px 0px 0px;
}

#navTabLeaderboard {
    text-align: center;
    font-weight: 400;
    font-size: 56px;
    line-height: 85px;
    color: #5D1B1C;
    position: absolute;
    width: 30%;
    height: 89px;
    left: 69%;
    top: 28px;
    background: #FECE00;
    border-radius: 20px 20px 0px 0px;
}

#navTabOnLeaderboard {
    text-align: center;
    font-weight: 400;
    font-size: 56px;
    line-height: 85px;
    color: #FECE00;
    position: absolute;
    width: 30%;
    height: 89px;
    left: 69%;
    top: 28px;
    background: #5D1B1C;
    border-radius: 20px 20px 0px 0px;
}

#levelSlots {
    width: 97%;
    height: 589px;
    margin-left: 2%;
    background: #FFFFFF;
    box-shadow: -15px 15px 0px rgb(0 0 0 / 25%);
    border-radius: 22px;
}

#thumbnail {
    position: relative;
    width: 27%;
    height: 36%;
    top: 3%;
    left: 1%;
    border-radius: 20px;
}

#titleText {
    position: relative;
    top: -42%;
    left: 30%;
    font-weight: 100;
    font-size: 165%;
    line-height: 128px;
    letter-spacing: 0.05em;
    color: #5D1B1C;
    background: none;
    white-space: nowarp;
}

#flag {
    background: black;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    position: relative;
    top: -72%;
    left: 93%;
}

#discription{
    width: 1100px;
    height: 161px;
    left: 33%;
    top: -58%;
    background: #FEF3D3;
    border-radius: 20px;
    position: relative;

    text-align: left;


    font-weight: 300;
    font-size: 30px;
    line-height: 43px;

    color: #5D1B1C;
}

#levelInfo{
    position: relative;
    width: 459px;
    height: 209px;
    left: 2%;
    top: -57%;
    background: #FEF3D3;
    border-radius: 20px;
    font-weight: 1px;
    font-size: 32px;
    line-height: 43px;
    color: #5D1B1C;
}

#creatorPFP{
    position: relative;
    width: 72px;
    height: 72px;
    left: 22.5%;
    top: -71%;
    background: #C4C4C4;
    border-radius: 50%;

    background-size: cover;
}

#creditsTab{
    position: relative;
    width: 100px;
    height: 72px;
    left: 12%;
    top: -75%;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #7E7D75;
    background: none;
    text-align: center;
}

#courseDescription{
    position: relative;
    width: 179px;
    height: 72px;
    left: 60%;
    top: -129%;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #7E7D75;
    background: none;
    text-align: center;
}

#dataTable{
    position: relative;
    width: 456px;
    height: 209px;
    left: 36%;
    top: -135.2%;
    background: #FEF3D3;
    border-radius: 20px;

    font-size: 32px;
    line-height: 21px;
    color: #5D1B1C;

    text-align:center;
}

#dataTab{
    position: relative;
    width: 179px;
    height: 72px;
    left: 44%;
    top: -140.8%;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #7E7D75;
    background: none;
    text-align: center;
}

#IDandDate{
    position: relative;
    background:none;
    height: 72px;
    left: 69%;
    top: -187.8%;
    font-size: 30px;
    line-height: 77px;
    color: #5D1B1C;
}
